
body {
  background-color: #E5E6E4ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px; align-content: center;
  
}

h1 {
  color: #382871e9;
  font-size: 40px;  font-weight: bold;
}
p {
  color: #847577;
  font-size: 14px; font-weight: bold;
    text-decoration: underline;
  
}
ul {
    color:#847577;
  font-size: 20px; font-weight: bold;
    
}
ol {
  color: #494a47;
  font-size: 20px;  
}
li { 
  color: #847577;
  font-size: 20px; 
  color: #847577;
  font-size: 20px; font-weight: bold;
    ;
}

a {
  color: #6b6767;
  text-decoration: none;
  font-size: 20px;
}
 img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
 }

